.donate {
    padding: 2.5rem;
    text-align: center;
    border: 15px solid #fff6b7;

    h3 {
        font-family: $font-family-serif;
        font-weight: bold;
    }

    p {
        margin: 0;
    }

    .row {
        padding: 40px 0;
    }

    .lead {
        color: #9c7a1a;
    }

    .donate-number {
        font-size: 1.5rem;
        word-spacing: 8px;
    }
}
