footer.footer {
    margin-top: 60px;
    padding: 60px 0;
    background-color: #252318;
    color: #807952;
    font-size: 14px;

    .navbar {
        .navbar-brand {
            a {
                font-size: 24px;
                color: #e4e2cb;
            }
            strong span {
                color: #807952;
            }
        }

        .nav-link {
            border-color: #2f2c1a;
            color: #6a6544;

            &:hover {
                border-color: #6f6846;
                color: #dccc9c;
            }
        }
    }

    .indent {
        padding-left: 100px;
    }

    dl {
        margin-top: 10px;
        a {
            color: #927725;
        }
        dd {
            margin-bottom: 0;
        }
    }

    .info {
        text-align: right;
        word-spacing: 4px;
    }

    .developedby {
        a {
            display: inline-block;
            padding: 8px 12px 8px 0;
            text-align: left;
            min-width: 152px;
            text-decoration: none;
            color: #5f593c;

            background-repeat: no-repeat;
            background-position: left 0;
            background-size: 32px;

            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &::before {
                content: "Developed by";
                display: block;
            }

            &:hover {
                background-color: seagreen;
                color: #fff;
                text-align: center;
                &::before {
                    content: "Alexander Yukal";
                }
            }
        }
    }
}
