section.container.wrap

    div.offset-lg-2.col-lg-8.offset-xl-2.col-xl-8
        .row
            nav.navbar.genres
                .card-deck.wide

                    //- Genres Menu
                    include ../lists/genres.pug
