section.container.wrap.presentation

    .offset-lg-2.col-lg-8
        h3.lead Більше 125–ти років й по сьогодні
        | 
        strong.
            українська еміграція в різних країнах світу, прагнучи зберегти національну 
            та культурну ідентичність, видає велику кількість книжкових, періодичних 
            та неперіодичних видань. Це великий шар інформації який з певних причин 
            залишається невідомим широкій громадськості та науковцям.
