section.container.wrap.search

    form.offset-lg-2.col-lg-8
        .form-group
            .input-group

                input#formGroupSearchInput.form-control(
                    type='text'
                    name='search'
                    placeholder='Пошук книги …')

                span.input-group-btn
                    button.btn(type='submit')
