extends templates/main.pug

block variables
    - var title = 'Diasporiana — Інтелектуальна спадщина Української еміграції';
    - var description = 'Adaptive HTML template for Diasporiana website';

block content

    // Top Menu 
    include partials/top_menu.pug

    // About 
    include partials/about.pug

    // Donate 
    include partials/donate.pug
