extends templates/main.pug

block variables
    - var title = 'Diasporiana — Інтелектуальна спадщина Української еміграції';
    - var description = 'Adaptive HTML template for Diasporiana website';

block content

    // Top Menu 
    include partials/top_menu.pug

    // Main 
    include partials/pg-index/main.pug

    // Search Bar 
    include partials/pg-index/search.pug

    // Genres 
    include partials/pg-index/genres.pug

    // Donate 
    include partials/donate.pug

    // Books Catalog 
    include partials/pg-index/catalog.pug
