block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        meta(name='robots' content='noindex, nofollow')
        meta(name='author' content='Alexander Yukal')
        meta(name='description' content=description)

        // Bootstrap core CSS 
        link(href='assets/css/theme.min.css' rel='stylesheet')

        // Import Google Fonts 
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&amp;subset=cyrillic' 
            rel='stylesheet')

        title #{title}
        block head

    body
        block content

        // Footer 
        include ../partials/footer

        // jQuery 
        script(src='assets/js/jquery.min.js')

        // Application 
        script(src='assets/js/app.min.js')

        block foot
