section.container.search

    .row
        form.offset-lg-3.col-lg-9
            .form-group
                .input-group

                    input#formGroupSearchInput.form-control(
                        type='text'
                        name='search'
                        placeholder='Пошук книги …')

                    span.input-group-btn
                        button.btn(type='submit')
