section.container.wrap

    .col-lg-12
        h2 Проект зі збереження інтелектуальної спадщини української еміграції
        br
        h3 Концепція електронної бібліотеки «Diasporiana»

        p.
            Протягом уже більше 125 років українська еміграція та розсіяння в різних країнах світу, 
            прагнучи зберегти національну та культурну ідентичність, видавала і видає велику кількість 
            книжкових, періодичних та неперіодичних видань. Це великий шар інформації який з об’єктивних 
            і суб’єктивних причин залишається невідомим не тільки широкій громадськості, але й науковцям.

        p.
            Маючи у фондах велику кількість рідкісних і цінних еміграційних документів та видань різних 
            років, доступ користувачів до яких може бути обмежений через їх відсутність у більшості 
            бібліотек та архівів України, ми сподіваємось, що створення цифрових копій таких видань є 
            одним із пріоритетів їх збереження та надання вільного доступу до них через мережу Інтернет 
            як науковцям, так і всім бажаючим. З огляду на зазначене Інститут журналістики і масової 
            комунікації Класичного приватного університету (Запоріжжя) за підтримки ентузіастів та людей 
            доброї волі ініціює створення електронної бібліотеки української діаспори «Diasporiana».

        br

        h4 Цілі та завдання Проекту:
        p.
            Проект створення електронної бібліотеки на теперішньому етапі не планується як складова інших 
            загальнонаціональних проектів електронних бібліотек та спрямований на досягнення наступних 
            цілей:

        ul
            li зміцнення культурних зв’язків і формування позитивного іміджу України у світі.
            li забезпечення можливості вільного доступу користувачів до надбань української еміграції за допомогою Інтернет.
            li створення електронних копій друкованих документів, що знаходяться у фондах бібліотек та інших закладів культури, приватних колекціях з метою збереження інтелектуальної спадщини та запобігання фізичній втраті документів.
            li можливість працювати одночасно з одним і тим же виданням багатьом користувачам та зручність перегляду.

        br
        h4 Електронна бібліотека орієнтована на широкі кола користувачів і вирішує наступні основні задачі:

        ul
            li просвітницьку, в рамках якої формуються колекції, спрямовані на поширення знань про українську еміграцію та її досягнення.
            li наукову, направлену на сприяння глибокому вивченню теми (предмету) науковцями і фахівцями в галузі суспільних і гуманітарних дисциплін.

        br

        h4 Учасники Проекту:
        p На основі взаємних інтересів у галузі розвитку інформаційних технологій в Україні, прагнучи до об’єднання зусиль у створенні інформаційного ресурсу з єдиною точкою доступу та визнаючи якісні переваги, що відкриваються для кожної зі сторін, до участі в Проекті запрошуються бібліотеки, музеї, архіви та приватні особи, які можуть надавати інформаційні ресурси відповідно до профілю комплектування електронної бібліотеки.
        p Основними принципами співробітництва є:

        ul
            li добровільність співпраці.
            li відкритість (учасниками можуть бути будь-які установи чи громадські організації, а також приватні особи, які підтримують ідею Проекту).

        br
        h4 Критерії добору матеріалів для цифрування:

        ul
            li Суспільна, історико-культурна та наукова цінність документу.
            li Відповідність профілю комплектування.

        br
        p Для представлення повних текстів використовуються: формати PDF та DJVU.

        p: strong Олег Богуславський, diasporiana@i.ua
