section.container.wrap

    .donate
        h3 Проекту дуже потрібна Ваша допомога!
        p.lead Ми будемо вдячні Вам за будь-який внесок:

        .row
            .col-6.col-sm-6.col-md-2.offset-md-4
                a(href='#'): img(src='assets/paypal.svg' width='100%')
            .col-6.col-sm-6.col-md-2
                a(href="#"): img(src='assets/liqpay.svg' width='100%')

        p.lead Або звичайним переказом на картку:
        p: strong.donate-number 5454 4586 5465 1212
