footer.footer

    .container
        nav.navbar.navbar-expand-md.navbar-main

            .navbar-brand
                a(href="#") Diasporiana
                strong
                    span Інтелектуальна спадщина
                    span Української еміграції

            ul.navbar-nav
                include lists/menu.pug

        .clearfix

        .row
            .col-md-6
                dl.indent
                    dd Електронна Бібліотека
                    dd &copy; 2011 — 2017

            .col-md-6
                dl.info
                    dd email 
                        a(href="mailto:diasporiana@i.ua") diasporiana@i.ua
                    dd facebook 
                        a(href="https://www.facebook.com/Diasporianaorgua/") Diasporianaorgua

        .clearfix
        br

        .indent.developedby
            a(href="https://www.linkedin.com/in/yukal/" target="_blank")
